@model BlogListResponseModel;
@{
    int rowCount = 0;
}

@if (TempData["IsSuccess"] != null)
{
    bool isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    if (isSuccess)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }

}

<p>Page Count - @Model.PageCount</p>
<p>Page Row Count - @Model.PageRowCount</p>

<div>
    <h4>Blog List</h4>
    <a href="/blogAjax/create" class=" btn btn-dark">Create Blog</a>

    <div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BlogDataModel blog in Model.BlogList)
                {
                    <tr>
                        <th>
                            <a href="/blogAjax/edit/@blog.Blog_Id" class="btn btn-warning">Edit</a>
                            <a href="#" data-id="@blog.Blog_Id" class="btn btn-danger deleteBtn">Delete</a>
                        </th>
                        <th>@(++rowCount)</th>
                        <td>@blog.Blog_Title</td>
                        <td>@blog.Blog_Author</td>
                        <td>@blog.Blog_Content</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@section scripts{
    <script>
        $(".deleteBtn").click(function (e) {
            let blogId = $(this).data('id');

            $.ajax({
                type: 'GET',
                // url: '@Url.Action("delete", "BlogAjax")',
                url: '/BlogAjax/delete',
                data: { id : blogId },
                dataType: "json",
                success: function (data) {
                    console.log(data.isSuccess)
                    if (data.isSuccess) {
                        window.location.href = "/BlogAjax";
                    }
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(ex.responseText);
                    console.log("Message : " + r.Message);
                    console.log("StackTrace : " + r.StackTrace);
                    console.log("ExceptionType : " + r.ExceptionType);
                }
            })
        })
    </script>
}