<h4>Blog index </h4>


    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="Blog_Title" id="Blog_Title" value="">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" name="Blog_Author" id="Blog_Author" value="">
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" class="form-control" name="Blog_Content" id="Blog_Content" value="">
    </div>
    <button type="button" class="btn btn-secondary">Cancel</button>
    <button type="submit" class="btn btn-success" id="btnSave">Save</button>

<hr />


@if (ViewData["Title1"] != null)
{
    <div>
        <h4>ViewData - typeCast</h4>
        <p>@ViewData["Title1"]</p>
        <p>@(Convert.ToInt32(ViewData["Number"]) + 1)</p>
    </div>
    <div>
        <h4>ViewBag - no typeCast</h4>
        <p>@ViewBag.Number + 1</p>
    </div>
    <div>
        <h4>TempData - typeCast</h4>
        <p>@(Convert.ToInt32(TempData["Number"])) + 1</p>
    </div>
}

@section scripts{
    <script>
        $("#btnSave").click(function(e){
            let title = $("#Blog_Title").val();
            let author = $("#Blog_Author").val();
            let content = $("#Blog_Content").val();
            let _reqModel =  {
                Blog_Title: title,
                Blog_Author: author,
                Blog_Content: content
            }

            $.ajax({
                type: 'POST',
                // url: '@Url.Action("Save","BlogAjax")', 
                url: '/BlogAjax/Save',
                data: { blog: _reqModel },
                dataType: "json",
                success: function (data) {
                    
                    console.log(data.isSuccess)
                    if (data.isSuccess) {
                        window.location.href = "/BlogAjax";
                    }
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(ex.responseText);
                    console.log("Message : " + r.Message);
                    console.log("StackTrace : " + r.StackTrace);
                    console.log("ExceptionType : " + r.ExceptionType);
                }
            })
        })
        
    </script>
}